body {
    margin: 0;
    font-family: "Smythe", sans-serif;
} 


/* Global styles */

h1, p {
    margin: 0
}

h1, h2 {
    font-size: 39px;
    font-weight: 500;
}

h1 {
    color: white
}


/* Header */

.content {
    width: 600px;
    border: 1px solid black;
    margin: 25px auto 0 auto;
}

.header {
    width: 600px;
    height: 168px;
    background-image: url('/Images/burger.png');
}

.header-text {
    padding: 24px 0 0 50px;
}

#title-info {
    color: white;
    font-size: 22.42;
    margin-top: 6px;
}

/* Items */

.items-border {
    border-bottom: 1px solid #D2D2D2;
    width: 504px;
    margin: auto;
}

.flex, .wrapper {
    display: flex;
}

.flex {
    height: 125px;
    align-items: center;
    margin: 25px 0;
}

.fa-plus {
    margin: 0 50px 0 auto;
    border: 1px solid #DEDEDE;
    padding: 10px;
    border-radius: 100%;
}

.wrapper {
    flex-direction: column;
    line-height: 25px;
}

.wrapper, .item-emoji {
    margin-left: 25px
}

.item-emoji {
    font-size: 4.5em;

}

.item-name {
    font-size: 1.65em;
}

.item-ingredients {
    color: #8B8B8B;
}

.item-price {
    font-size: 1.2em;
}


/* Order details */

.order-details {
    width: 504px;
    margin: auto;
    display: none;
} 

.order-title {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.items-selected {
    display: flex;
    flex-direction: column;
}

.item-title {
    display: flex;
    gap: 6px;
    font-size: 1.5em;
    line-height: 35px;
}

.item-amount {
    font-size: 0.7em;
    text-align: center;
}

.remove-item {
    color: #8B8B8B;
    font-size: 0.5em;
    cursor: pointer;
}

.remove-item, .item-amount {
    margin: auto 0;
}

.individual-item-price {
    font-size: 0.8em;
    margin: 0 0 0 auto;
}

.total-price {
    border-top: 2px solid #393333;
    padding: 20px 0 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.total-price-amount {
    font-size: 0.8em;
}

.complete-order-btn {
    background-color: #16DB99;
    text-align: center;
    padding: 18px 0;
    margin-bottom: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    width: inherit;
    cursor: pointer;
}