body {
    margin: 0;
    font-family: "Smythe", sans-serif;
} 


/* Global styles */

h1, p {
    margin: 0
}

h1 {
    color: white;
    font-size: 39px;
    font-weight: 500;
}


/* Header */

.content {
    width: 600px;
    border: 1px solid black;
    margin: 25px auto 0 auto;
}

.header {
    width: 600px;
    height: 168px;
    background-image: url('/Images/burger.png');
}

.header-text {
    padding: 24px 0 0 50px;
}

#title-info {
    color: white;
    font-size: 22.42;
    margin-top: 6px;
}

/* Items */

.items-border {
    border-bottom: 1px solid #D2D2D2;
    width: 504px;
    margin: auto;
}

.flex, .wrapper {
    display: flex;
}

.flex {
    height: 125px;
    align-items: center;
    margin: 25px 0;
}

.fa-plus {
    margin: 0 50px 0 auto;
    border: 1px solid #DEDEDE;
    padding: 10px;
    border-radius: 100%;
}

.wrapper {
    flex-direction: column;
    line-height: 25px;
}

.wrapper, .item-emoji {
    margin-left: 25px
}

.item-emoji {
    font-size: 4.5em;

}

.item-name {
    font-size: 1.65em;
}

.item-ingredients {
    color: #8B8B8B;
}

.item-price {
    font-size: 1.2em;
}